<h1>Convert <%=@src%> </h1>

Go <a href="/forex">back</a>.

<ul>
    <%@symkeys.each do |a_symbol|%>    
    <li>
      <a href="/forex/<%=@src%>/<%=a_symbol%>">
        Convert 1 <%=@src%> to <%=a_symbol%>...
      </a>
    </li>
    <% end %>
</ul>

